<!-- User List Content -->
<div id="userList">
    <div class="card border-0 ">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortBy('username')">Username
                                <span ng-show="sortColumn === 'username'">{{ reverse ? '🔽' : '🔼' }}</span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortBy('password')">Password
                                <span ng-show="sortColumn === 'password'">{{ reverse ? '🔽' : '🔼' }}</span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortBy('userProfile.fullname')">Fullname
                                <span ng-show="sortColumn === 'userProfile.fullname'">{{ reverse ? '🔽' : '🔼' }}</span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortBy('userProfile.email')">Email
                                <span ng-show="sortColumn === 'userProfile.email'">{{ reverse ? '🔽' : '🔼' }}</span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortByAuthority()">Role
                                <span ng-show="sortColumn === 'authority'">{{ reverse ? '🔽' : '🔼' }}</span>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <tr ng-repeat="user in pager.pagedItems">
                        <td>{{user.username}}</td>
                        <td>{{user.password | passwordFormat}}</td>
                        <td>{{user.userProfile.fullname}}</td>
                        <td>{{user.userProfile.email}}</td>
                        <td>
                            <span ng-repeat="a in user.authorities"
                                  ng-class="{
                                      'badge bg-info': a.authority === 'ROLE_DIRECTOR',
                                      'badge bg-success': a.authority === 'ROLE_STAFF',
                                      'badge bg-warning': a.authority === 'ROLE_GUEST',
                                  }"
                                  class="me-1">
                                {{a.authority.substring(5)}} <!-- Loại bỏ ROLE_ -->
                            </span>
                        </td>
                        <td>
                            <div class="dropup"> <!-- Thêm lớp dropup -->
                                <button type="button" class="btn btn-link btn-sm text-dark p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#!/users/edit/{{user.username}}" ng-click="edit(user.username)"><i class="bx bx-edit-alt me-1"></i> Edit</a></li>
                                    <li><a class="dropdown-item" href="" ng-click="delete(user.username)"><i class="bx bx-trash me-1"></i> Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--Pagination Start-->

                <ul class="pagination pagination-sm d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="" ng-click="pager.first()">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="" ng-click="pager.previous()">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link bg-light text-dark fw-bold">
                            {{ pager.page + 1 }} / {{ pager.count }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="" ng-click="pager.next()">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="" ng-click="pager.last()">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>

                <!--Pagination End-->
            </div>
        </div>
    </div>
</div>