<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopdee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/custom.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="heading">Forgot Password</div>
  <p class="sub-text">Nhập địa chỉ email để nhận mã xác nhận đặt lại mật khẩu.</p>

  <form action="" class="form">
    <input required class="input" type="email" name="email" placeholder="E-mail">
    <input class="login-button" type="submit" value="Gửi mã xác nhận">
  </form>

  <span class="agreement">
    Bạn nhớ lại mật khẩu rồi? <a href="/login">Đăng nhập tại đây</a>
  </span>
</div>

</body>
</html>