<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopdee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/custom.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <div class="heading">Sign up</div>
  <form action="" class="form">
    <input required="" class="input" type="text" name="username" placeholder="Username">
    <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
    <div class="input-row">
      <input required class="input half" type="password" name="password" placeholder="Password">
      <input required class="input half" type="password" name="cfpassword" placeholder="Confirm Password">
    </div>
    <input required="" class="input" type="text" name="fullname" placeholder="Fullname">
    <input class="login-button" type="submit" value="Sign Up">

  </form>
  <span class="agreement">Already have an account?
        <a href="/login">Sign In Here</a>
    </span>
</div>
</body>
</html>