<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: dyanmic(~{::body})}">

<head>
    <meta charset="utf-8">
    <title>Shopdee - Vegetable Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

    <body ng-app="shopApp" ng-controller="shopCtrl">

        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Shop</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">Trái cây tươi</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3" placeholder="tìm kiếm" aria-describedby="search-icon-1">
                                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="fruits">Sắp xếp:</label>
                                    <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3">
                                        <option value="volvo">Không</option>
                                        <option value="audi">Giá thấp đến cao</option>
                                        <option value="audi">Giá cao đến thấp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4 class="mb-2">Loại</h4>
                                            <ul class="list-unstyled fruite-categorie">
                                                <li>
                                                    <a href="" ng-click="updateProductByCategory(0)">
                                                        <i class="fas fa-apple-alt me-2"></i> Tất cả
                                                    </a>
                                                </li>
                                                <li ng-repeat="cate in listCategories">
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="" ng-click="updateProductByCategory(cate.id)"><i class="fas fa-apple-alt me-2"></i>{{cate.name}}</a>
<!--                                                        <span>(3)</span>-->
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4 class="mb-2">Giá</h4>
                                            <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                            <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output> k
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Bổ sung</h4>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                                <label for="Categories-1"> Nhập khẩu</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                                <label for="Categories-2"> Nội địa</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                                <label for="Categories-3"> Đã sơ chế</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                                <label for="Categories-4"> Đông lạnh</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="mb-3">Sản phẩm nổi bật</h4>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                <img src="img/featur-1.jpg" class="img-fluid rounded" alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-2">Táo</h6>
                                                <div class="d-flex mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2">49.000</h5>
                                                    <h5 class="text-danger text-decoration-line-through">75.000</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                <img src="img/featur-2.jpg" class="img-fluid rounded" alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-2">Dâu Tây</h6>
                                                <div class="d-flex mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2">49.000</h5>
                                                    <h5 class="text-danger text-decoration-line-through">75.000</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                <img src="img/featur-3.jpg" class="img-fluid rounded" alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-2">Bông cải</h6>
                                                <div class="d-flex mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2">49.000</h5>
                                                    <h5 class="text-danger text-decoration-line-through">75.000</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center my-4">
                                            <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Thêm</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Shop</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center">
                                    <div class="col-md-6 col-lg-4 col-xl-4" ng-repeat="pro in pager.pagedItems">
                                        <div class="border border-secondary rounded position-relative fruite-item mt-4" >
                                            <a ng-click="goToDetail(pro.id)"class="fruite-img">
                                                <img ng-src="{{pro.image}}" class="img-fluid w-100 rounded-top" alt="" style="height: 250px;">
                                            </a>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                                <span>{{pro.category.name}}</span>
                                            </div>
                                            <div class="p-4 ">
                                                <h4>{{pro.name}}</h4>
                                                <p class="text-justify">{{pro.description}}</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <h5 class="text-dark fs-5 fw-bold mb-2">{{formatPrice(pro.price)}}</h5>
                                                    <a ng-click="addToCart(pro)" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ hàng
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <!--Pagination Start-->

                                        <ul class="pagination d-flex justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="" ng-click="pager.first()">
                                                    <i class="fas fa-angle-double-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="" ng-click="pager.previous()">
                                                    <i class="fas fa-angle-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link bg-light text-dark fw-bold">
                                                    {{ pager.page + 1 }} / {{ pager.count }}
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="" ng-click="pager.next()">
                                                    <i class="fas fa-angle-right"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="" ng-click="pager.last()">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </ul>

                                        <!--Pagination End-->
<!--                                        <div class="pagination d-flex justify-content-center mt-5">-->
<!--                                            <a href="#" class="rounded">&laquo;</a>-->
<!--                                            <a href="#" class="active rounded">1</a>-->
<!--                                            <a href="#" class="rounded">2</a>-->
<!--                                            <a href="#" class="rounded">3</a>-->
<!--                                            <a href="#" class="rounded">4</a>-->
<!--                                            <a href="#" class="rounded">5</a>-->
<!--                                            <a href="#" class="rounded">6</a>-->
<!--                                            <a href="#" class="rounded">&raquo;</a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->

    </body>

</html>